<div class="card user-login">
  <article class="card-body form-login">
    <a href="" class="float-right btn btn-outline-primary"><%= t "sessions.sign_up" %></a>
    <h4 class="card-title mb-4 mt-1"><%= t "sessions.sign_in" %></h4>
    <p>
      <a href="" class="btn btn-block btn-outline-info"><i class="fa fa-google icon"></i><%= t "sessions.google" %></a>
      <a href="" class="btn btn-block btn-outline-primary"><i class="fa fa-facebook icon"></i><%= t "sessions.facebook" %></a>
    </p>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <% if devise_mapping.rememberable? -%>
    <div class="form-group float-left" >
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </article>
</div>
